.container {
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.not-found-image {
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}