.menu {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.add-certificate {
  margin-top: 1vh;
}

.add-certificate button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.add-certificate button:hover {
  background-color: #367c39;
  transform: translateY(-2px);
}

.add-certificate button:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #367c39;
}

.menu button:hover {
  background-color: #367c39;
  transform: translateY(-2px);
}

.menu button:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #367c39;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

section > article:only-child {
  margin: 0 auto;
}
article {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  width: 300px;
  max-width: 100%;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 601px) {
  section {
    justify-content: flex-start;
  }
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h4,
h2,
.title,
.certificate-title {
  font-size: 1.2em;
  color: #2a2a2a;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  overflow-wrap: break-word;
}

p,
.author {
  font-size: 1em;
  color: #555;
  text-align: center;
}

.certificate-link {
  color: #000;
  text-decoration: none;
  display: block;
}

@media (max-width: 600px) {
  article {
    height: auto;
  }

  h4,
  h2,
  .title,
  .certificate-title,
  p,
  .author {
    font-size: 1em;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  article {
    height: 350px;
  }
}

/* jk */
@keyframes backgroundChange {
  0% {
    background-color: blue;
  }
  33% {
    background-color: black;
  }
  66% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.fancyAnime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: backgroundChange 3s linear infinite;
}

.loading-animation {
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  animation: bounce 1s ease infinite;
  position: relative;
}

.loading-animation:hover {
  animation: none;
  /* Additional styling for hover state if needed */
}

.exam-start-btn {
  padding: 10px;
}