/* CertificateDetails.css */
.Certificate-Details-Title {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center; /* This ensures the title text is centered */
}

.Certificate-Details-Title h1 {
    font-size: 2.5em; /* Large font size for the title */
    margin: 0 auto; /* Center the title */
    text-transform: uppercase; /* Uppercase for emphasis */
    text-align: center; /* Center align the text */
}

.Certificate-Details-Description {
    font-size: 1.2em; /* Comfortable reading size */
    color: #333; /* Dark grey for readability */
    margin-top: 20px; /* Space between title and description */
    padding: 0 20px; /* Padding for better text alignment */
    line-height: 1.6; /* Line height for better readability */
    text-align: center; /* Center align the description text */
}

.Purhcase-Certificate {
    display: block; /* Make the button a block element */
    width: max-content; /* Adjust width to content */
    margin: 30px auto; /* Center the button and add margin for spacing */
    padding: 10px 20px; /* Padding for button size */
    background-color: #f04d24; /* Udemy's signature button color */
    color: white; /* White text color */
    font-size: 1.1em; /* Slightly larger font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.Purhcase-Certificate:hover {
    background-color: #e03c1c; /* Slightly darker shade on hover */
}

  .Certificate-Logo {
    display: block; /* Use block display to allow margin auto to work */
    margin: 50px auto; /* Add margin auto to center the image horizontally */
    width: 300px; /* Set a width for the image */
    height: 300px;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
    border: 1px solid #ddd; /* Add a subtle border for separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    border-radius: 5px; /* Rounded corners */
}