.Certificate-Details-Title {
  background-color: black;
  color: white;
  padding: 2vh; /* Use viewport height for dynamic padding */
  text-align: center;
}

.Certificate-Details-Title h1 {
  font-size: 3vw; /* Use viewport width for dynamic font size */
  margin: 0 auto;
  text-transform: uppercase;
}

.Certificate-Details-Description {
  font-size: 1.2rem; /* Use rem for scalable font size */
  color: #333;
  margin-top: 2vh; /* Use viewport height for margin */
  padding: 0 5%; /* Use percentage for padding */
  line-height: 1.6;
  text-align: center;
}

.Purchase-Certificate {
  display: block;
  width: max-content;
  margin: 3vh auto; /* Use viewport height for margin */
  padding: 1vh 2vw; /* Use viewport units for padding */
  background-color: #f04d24;
  color: white;
  font-size: 1.1rem; /* Use rem for scalable font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.Purchased-Certificate {
  display: block;
  width: max-content;
  margin: 3vh auto; /* Use viewport height for margin */
  padding: 1vh 2vw; /* Use viewport units for padding */
  background-color: #00c607;
  color: white;
  font-size: 1.1rem; /* Use rem for scalable font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.Purchase-Certificate:hover {
  background-color: #e03c1c;
}

.Certificate-Logo {
  display: block;
  margin: 5vh auto; /* Use viewport height for margin */
  width: 50vw; /* Use viewport width for dynamic image size */
  height: auto; /* Maintain aspect ratio */
  max-width: 300px; /* Max width to prevent over-scaling */
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
