.answerOption {
  border-top: 1px solid #eee;
  list-style: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

li.answerOption.selected {
  background-color: #c1e5ff;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  font-size: 16px;
  line-height: 1.5;
}
