/* :root {
  --timer-bg-color-end: #ff6347; /* Red color 
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

.paragraph {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

.result {
  padding: 1.5rem 2.5rem;
}

.questionCount {
  text-align: left;
  padding: 1.5rem 2.5rem 0rem;
  font-size: 15px;
}

.question {
  margin: 0;
  text-align: left;
  padding: 0.5rem 0.2rem 1.5rem 2.5rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.question-hidden {
  opacity: 0;
}

.questionAndTimer {
  display: flex;
  align-items: center;
}

.questionContainer {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.question-hidden {
  opacity: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateX(340px);
}

.image {
  display: block;
  margin: 5px auto 15px; /* fixed margin values to top: 5px left and right:auto bottom: 15px*/
  max-width: 50%;
  max-height: 200px;
}
